@font-face{
  font-family:airbnb;
  src: url("./../font/AirbnbCerealLight.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Playfair Display', serif !important;
}

a {
  text-decoration: none;
  color: black;
}
p,form, .nav-link{
  font-family: airbnb;
}
#top-navbar {
  background-color: #fff;
  color:black;
  z-index: 99;
}

.mt-8 {
  margin-top: 5em;
}

.text-cyan {
  color: #2CAEB8;
}

.brand {
  font-size: 22px !important;
  color: #333333
}

.nav-link {
  color: #666666;
  font-size: 20px;
}
.nav-link.active{
  border-bottom: 2px solid #2CAEB8;
}

.jumbotron {
  height: 722px;
  background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(24, 23, 23, 0.65)), url('./../images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95
}

.hero-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 56px;
  line-height: 75px;
}

.hero-button {
  background-color: #2CAEB8 !important;
  font-size: 22px !important;
  color: white !important;
  border-radius: 0 !important;
}

.section-title {
  font-weight: bold;
  font-size: 22px;
  color: #2CAEB8;
  display: relative;
}

.section-title:before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 10%;
  position: relative;
  vertical-align: middle;
  background-color: #2CAEB8;
  margin-right:0.8em;

}

.about-us-heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  color: #364B4D;
}

.about-us-body {
  font-size: 20px;
  color: #666666;
  line-height: 28px;
}

#services {
  background-color: #F2FEFF;
}

.services-header-text {
  font-weight: bold;
  font-size: 40px;
  color: #364B4D;
}

.card {
  border-radius: unset;
  ;
  background-color: transparent !important;
}

.card-img-top {
  border-radius: unset;
}

.card-text {
  font-weight: 300;
  font-size: 20px;
  color: #666666;
}

.card-title {
  font-size: 24px;
  line-height: 32px;
  color: #364B4D;
}

.testimony {
  font-size: 22px;
  line-height: 24px;
  color: #333333;
}

.client {
  font-size: 20px;
}

#contact-us {
  background-color: #F2FEFF;
  ;
  position: relative;
}

#contact-us>img {
  opacity: 0.85;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
}

.active-dot {
  background-color: #2CAEB8;
}

.first-section {
  height: 554px;
}

.second-section {
  height: 400px;
  background: linear-gradient(rgba(54, 75, 77, 0.7), rgba(54, 75, 77, 0.85)), url('./../images/contact-us.png');
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%)
}

form {
  background-color: white;
}

form input, form textarea {
  border-radius: 0 !important;
}

footer {
  background-color: #364B4D;
  color: white;
}

footer-text {
  font-size: 20px;
}

@media(max-width:700px) {
  .jumbotron {
    background-position: center;
  }
  .about-us-image{
    width:115%!important;
  }
  .hero-header.w-50 {
    text-align: center;
    width: 100% !important;
  }
  #contact-us, .form {
    position: unset;
  }
  .form {
    transform: unset;
    margin: auto;
    top: 0%;
  }
  form {
    padding: 1em !important;
    background-color: transparent;
  }
  form.p-5 {
    padding: 1em !important;
  }
  form.w-50 {
    width: 100% !important;
  }
  .first-section {
    height: 250px;
  }
  .second-section {
    display: none;
  }
  .testimonial-image {
    display: none;
  }
  .card {
    margin-right: 0!important;
  }
  .cards, .portfolio-wrapper {
    padding: 2em;
  }
  .portfolio-wrapper img {
    max-width: 280px;
  }
  .slide {
    text-align: center;
    border: 2px solid #2CAEB8;
    padding: 1.5em;
  }
  footer {
    text-align: center;
  }
}